<!--todoItem.tpl.html-->
<date>날짜: {{todo.createdAt | date : 'yyyy-MM-dd'}}</date>
<div class="input-group mb-3">
  <div class="input-group-text">
    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" ng-model="todo.complete">
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="todo.title">
  <button class="btn btn-danger" type="button" id="button-addon2" ng-click="remove(todo)">삭제</button>
</div>